
// Margin top and bottom for element spacing
$main-margin : .5rem .025rem;

$main-color : #A3C0FF;
$alert-color : #DC0313;

.editor {
    min-height : 14rem;
    margin: $main-margin;
    &-container {
        min-width : 14rem;
    }
    &-grid-row {
        border-bottom: 1px solid $main-color;
    }
}

.grid-menu {
    background-color:  $main-color;
}

.grid-settings {
    margin : $main-margin;
    &--run {
        text-align: right;
    }
    input {
        margin : 0 .25rem;
    }
}

.grid-button {
    margin : 0 .5rem;
}

.console {
    position : relative;
    &-output {
        min-height : 2rem;
        max-height : 50rem;
        overflow-y : scroll;
    }
    &-line {
        margin : 0 1rem;
        display : block;
    }
}

.grid-kill {
    position : absolute;
    top : .5rem;
    right : 2rem;
    color : $alert-color;
    font-weight : bold;
}

.grid-help {
    color : white;
}

input[type=number] {
    max-width : 60px;
    text-align : center;
}

@media screen and (min-width: 992px) {
    .console {
        max-height : 42rem;
    }
}